{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathSuffix": "./src/",
            "rootPathPrefix": "~app/"
          },
          {
            "rootPathSuffix": "./server/",
            "rootPathPrefix": "~server/"
          },
          {
            "rootPathSuffix": "./src/assets",
            "rootPathPrefix": "~assets/"
          }
        ]
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
