@import '../../assets/styles/respond-mixin.scss';

.verticalDivider {
  display: inline-block;
  margin: 0 2px;
}

.giveaway {
  vertical-align: middle;
  color: #49a2a1;
}

.giftCode {
  width: 69px;
  height: 20px;
  border-radius: 2px;
  padding: 3px 5px;
  color: #fff;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  background-color: #fe9900;
}

.giveaway_icon {
  width: 20px;
  height: 20px;
  background: url(https://static.chotot.com/storage/C2C_CDN_STAGING/d8d4dd03d80c145fcb0b53966ccc53f1.png)
    no-repeat;
  background-size: contain;
}

.giveawayText {
  vertical-align: bottom;
  margin-left: 5px;
}

.image {
  object-fit: cover;
  margin-right: 2px;

  &.round {
    border-radius: 50%;
  }
}

.deviderWrapper {
  display: inline-block;
  &:after {
    font-size: 14px;
    vertical-align: middle;
    content: '\B7';
    display: inline-block;
  }
}

.adTitle {
  color: #222222;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  overflow: hidden;

  @include respond-to(desktop) {
    font-size: 15px;
    line-height: 1.33;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @include respond-to(mobile) {
    font-size: 14px;
    line-height: 1.43;
    max-height: 40px;
  }
}

.adTitleGrid {
  @extend .adTitle;
  color: #222;
  font-size: 14px !important;
  line-height: 20px !important;
  text-decoration: none;
  white-space: unset;
  margin-top: 8px;
  height: 40px !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.adTitleBold {
  font-weight: bold;
}

.commonStyleLabel {
  font-size: 12px;
  padding: 0px 4px;
  margin-right: 8px;
  border-radius: 3px;
  border: 1px solid #000;
  text-transform: uppercase;
  height: 20px;
  line-height: 20px;
  position: relative;
  display: inline-block;

  @include respond-to(mobile) {
    font-size: 11px;
    padding: 0 3px;
    margin-right: 4px;
  }
}

.commonStyleLabelGrid {
  @extend .commonStyleLabel;
  margin-right: 4px;
}

.commonStyleLabelPriceGrid {
  @extend .commonStyleLabelGrid;
  font-weight: bold;
}

.commonStyleLabelPrice {
  @extend .commonStyleLabel;
  margin-right: 0;
  margin-left: 8px;
  font-weight: bold;
  float: left;

  @include respond-to(mobile) {
    margin-left: 4px;
  }
}
